<section
    class="w-screen h-[10vh] flex items-center justify-between sticky top-0 border-b border-clr-border bg-clr-bg/40 backdrop-blur-2xl px-4 z-90">
    <div
        class="flex flex-col items-start text-clr-accent">
        <div class="flex items-center gap-4">
            <img 
                [src]="Cityfix().logo" 
                [alt]="Cityfix().alt"
            >
            <h1 
                class="text-2xl font-bold text-clr-accent"
                >
                {{Cityfix().name}}
            </h1>
        </div>
        <p>{{page}}</p>
    </div>
    <div
        class="flex items-center gap-4 *:cursor-pointer *:border-clr-accent *:transition-all *:hover:text-clr-accent *:duration-300">
        <button
            routerLink="/home"
            routerLinkActive="'text-clr-accent border-b-2 border-clr-accent'"
            class="border-b-2 border-b-transparent">
            home
        </button>

        <button
            routerLink="/map"
            routerLinkActive="'text-clr-accent border-b-2 border-clr-accent'"
            class="border-b-2 border-b-transparent">
            map
        </button>
    </div>
</section>
